*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

#snake-board {
    background-color: #CCC;
    width: 65vmin;
    height: 65vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.game-arena {
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
}

.container {
    margin-inline: auto;
    width: min(100%, 65vmin); 
}


.centercontainer {
    padding: 3px;
    margin-inline: auto;
    width: min(100%, 152px);
}

.snake {
    background-color: hsl(200, 100%, 50%);
    border: .25vmin solid black;
}

.food {
    background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black;
}

#directionalpad {
    float: right;
    display: flex;
    flex-wrap: wrap;
    width: 152px;
}

.buttonsize {
    padding: 0;
    min-width: 50px;
    min-height: 50px;
    box-shadow: 1px 1px 1px  hsl(200, 100%, 50%);
}

.box1 {
    visibility: hidden;
}

.settingsbutton {
    width: 100%;
}

.settingsbutton:hover {
    box-shadow: 1px 1px 1px hsl(200, 100%, 50%);

}
/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 10;
    overflow: auto;
}

.table-container {
    position: relative;
    margin: 0 auto;
    top: 1rem;
    max-width: 300px;
    background-color: #fff;
    border: 5px solid #000;
    z-index: 12;
    padding: 1rem 1rem 0 1rem;
    font-size: 1.5rem;
    box-sizing: border-box;
}



.exit {
    float: right;
    font-size: .8rem;
    background-color: #c0c0c0;
    padding: 0 5px 0 5px;
    border: 2px solid #000;
}

.exit:hover {
    background-color: hsl(50, 100%, 50%);
    cursor: pointer;
}

/* Modal - Settings */


.submit {
    width: 20%;
    font-size: 1.2rem;
    padding: 1px;
    margin-bottom: 1rem;
    background-color: 	#c0c0c0;
    border: 2px solid #000;
    border-radius: 10px;
}

.submit:hover {
    background-color:  hsl(200, 100%, 50%);
}

.reset {
    width: 20%;
    font-size: 1.2rem;
    padding: 1px;
    background-color: #c0c0c0;
    border: 2px solid #000;
    border-radius: 10px;
}

.reset:hover {
    background-color: hsl(50, 100%, 50%);
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .container {
        background-color: hsl(200, 100%, 50%);
    }
    .submit {
        font-size: .9rem;
    }
    .reset {
        font-size: .9rem;
    }
    }
    
    /* On screens that are 600px or less, set the background color to olive */
    @media screen and (max-width: 600px) {
    .container {
        background-color: olive;
        font-size: .6rem;
    }
    .submit {
        font-size: .8rem;
    }
    .reset {
        font-size: .8rem;
    }
    }





